<header>
    <div class="top_header">
        <p>Chào mừng đến với MegaFood</p>
    </div>
    <div class="bottom_header">
        <div class="container">
            <div class="container_content">

                <div class="logo">
                    <img src="img/logo.jpg" alt="">
                </div>
                <div class="search_container">
                    <input type="text" placeholder="Bạn muốn tìm kiếm gì?" name="" id="">
                    <button>
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <div class="contact">
                    <img src="img/ship.png" alt="">
                    <div class="contact_content">
                        <span class="title">Giao hàng tận nơi</span>
                        <span class="phone">1900 6750</span>
                    </div>
                </div>
                <div class="user">  
                    <a href="#"><i class="bi bi-person-circle"></i></a>
                    <div class="subnav_user">
                        <span class="icon_up"><i class="bi bi-caret-up-fill"></i></span>
                        <ul class="list_user">
                            <li><a href="#"><i class="bi bi-box-arrow-in-right"></i><span>Đăng nhập</span></a></li>
                            <li><a href="#"><i class="bi bi-person-plus"></i><span>Đăng kí</span></a></li>
                            <li><a href="#"><i class="bi bi-heart"></i><span>Danh sách yêu thích</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="cart">
                    <span class="quantity">
                        0
                    </span>
                    <a href="#"><i class="bi bi-basket2"></i></a>
                </div>
                <button class="btn_1">Đặt món online</button>
                <button class="btn_2">Đặt bàn</button>
            </div>
        </div>
    </div>
    <nav>
        <div class="container_nav">
            <div class="menu_nav">
                <ul class="list_nav">
                    <li class="nav_item"><a href="#">Trang chủ</a></li>
                    <li class="nav_item"><a href="#">Giới thiệu</a></li>       
                    <li class="nav_item"><a href="#">Sản phẩm <i class="bi bi-caret-down-fill"></i></a>
                        <ul class="list_subnav">
                            <li><a href="#">Pizza</a></li>
                            <li><a href="#">Khai vị</a></li>
                            <li><a href="#">Mỳ ý</a></li>
                            <li><a href="#">Salad</a></li>
                            <li><a href="#">Thức uống</a></li>
                        </ul>
                    </li>
                    <li class="nav_item"><a href="#">Tin tức</a></li>
                    <li class="nav_item"><a href="#">Liên hệ</a></li>
                    <li class="nav_item"><a href="#">Câu hỏi thường gặp</a></li>
                    <li class="nav_item"><a href="#">Hệ thống cửa hàng</a></li>
                    <li class="nav_item"><a href="#">Đặt bàn</a></li>
                </ul>
            </div>
        </div>
   </nav>
</header>