<div class="header-box-title">
    <span class="title-khuyen-mai">
        <a href="#" title="Bấm vào đây để xem danh sách khuyến mãu">KHUYẾN MÃI</a>
    </span>
    <div class="slides">
        <img src="https://png.pngtree.com/png-vector/20230730/ourmid/pngtree-red-gift-box-3d-vector-illustration-png-image_9116970.png"
            alt="">
    </div>

    <div class="text_title">
        <div class="sec__text">

        </div>
    </div>

    <div class="lazy-img">
        <a href="#">
            <img src="	https://meta.vn/images/gia-re-moi-ngay.png" alt="">
        </a>
    </div>
</div>