<div class="home-catalog">
    <div class="zone-market">
        <a class="item-market" href="#">
            <div class="icon-market">
                <img src="https://st.meta.vn/Data/2023/Thang05/icon-dieuhoa.svg" alt="">
            </div>
            <div class="name-market">
                Điều hòa giá từ 4.6 triệu
            </div>
        </a>

        <a class="item-market" href="#">
            <div class="icon-market">
                <img src="https://st.meta.vn/Data/2022/Thang11/tivi.svg" alt="">
            </div>
            <div class="name-market">
                Điện máy giảm tới 45%
            </div>
        </a>

        <a class="item-market" href="#">
            <div class="icon-market">
                <img src="	https://st.meta.vn/Data/2023/Thang03/quat-lam-mat.svg" alt="">
            </div>
            <div class="name-market">
                Quạt điện giá rẻ
            </div>
        </a>

        <a class="item-market" href="#">
            <div class="icon-market">
                <img src="	https://st.meta.vn/Data/2022/Thang12/flash-sale.svg" alt="">
            </div>
            <div class="name-market">
                Flash Sale
            </div>
        </a>

        <a class="item-market" href="#">
            <div class="icon-market">
                <img src="https://st.meta.vn/Data/2022/Thang11/giam-gia.svg" alt="">
            </div>
            <div class="name-market">
                Săn voucher 1.5 triệu
            </div>
        </a>

        <a class="item-market" href="#">
            <div class="icon-market">
                <img src="https://st.meta.vn/Data/2023/Thang04/google-play-01.svg" alt="">
            </div>
            <div class="name-market">
                Tải App META trên Android
            </div>
        </a>

        <a class="item-market" href="#">
            <div class="icon-market">
                <img src="	https://st.meta.vn/Data/2023/Thang04/app-store-meta.svg" alt="">
            </div>
            <div class="name-market">
                Tải App META trên iOS
            </div>
        </a>

        <a class="item-market" href="#">
            <div class="icon-market">
                <img src="https://st.meta.vn/Data/2022/Thang11/qua-tang.svg" alt="">
            </div>
            <div class="name-market">
                Quà khuyến mại
            </div>
        </a>
    </div>


    <div class="wrap-catalog-main">
        <div class="trend-catalog-title">
            <img src="https://meta.vn/Data/image/2021/01/13/hot-category.png" alt="">
            <h2>Danh mục nổi bật</h2>
        </div>

        <div class="list-catalog-container">
            <ul class="list-catalog-main">
                <li class="catalog-main-item">
                    <div>
                        <div class="discount-cat-main">
                            <span>-42%</span>
                        </div>
                        <div class="icon-cat-main-thumb">
                            <span>
                                <img src="	https://meta.vn/icons/cateico/c1018-210x210.jpg" alt="">
                            </span>
                        </div>
                        <a href="#" class="name-cat-main">
                            <h3>Điều hòa</h3>
                        </a>
                    </div>
                </li>

                <li class="catalog-main-item">
                    <div>
                        <div class="discount-cat-main">
                            <span>-42%</span>
                        </div>
                        <div class="icon-cat-main-thumb">
                            <span>
                                <img src="https://meta.vn/icons/cateico/c1015-210x210.jpg" alt="">
                            </span>
                        </div>
                        <a href="#" class="name-cat-main">
                            <h3>Tủ lạnh</h3>
                        </a>
                    </div>
                </li>

                <li class="catalog-main-item">
                    <div>
                        <div class="discount-cat-main">
                            <span>-42%</span>
                        </div>
                        <div class="icon-cat-main-thumb">
                            <span>
                                <img src="	https://meta.vn/icons/cateico/c448-210x210.jpg" alt="">
                            </span>
                        </div>
                        <a href="#" class="name-cat-main">
                            <h3>Quạt, Máy làm mát</h3>
                        </a>
                    </div>
                </li>

                <li class="catalog-main-item">
                    <div>
                        <div class="discount-cat-main">
                            <span>-42%</span>
                        </div>
                        <div class="icon-cat-main-thumb">
                            <span>
                                <img src="https://meta.vn/icons/cateico/c3256-210x210.jpg" alt="">
                            </span>
                        </div>
                        <a href="#" class="name-cat-main">
                            <h3>Tivi</h3>
                        </a>
                    </div>
                </li>

                <li class="catalog-main-item">
                    <div>
                        <div class="discount-cat-main">
                            <span>-42%</span>
                        </div>
                        <div class="icon-cat-main-thumb">
                            <span>
                                <img src="https://meta.vn/icons/cateico/c1017-210x210.jpg" alt="">
                            </span>
                        </div>
                        <a href="#" class="name-cat-main">
                            <h3>Máy giặt</h3>
                        </a>
                    </div>
                </li>

                <li class="catalog-main-item">
                    <div>
                        <div class="discount-cat-main">
                            <span>-42%</span>
                        </div>
                        <div class="icon-cat-main-thumb">
                            <span>
                                <img src="https://meta.vn/icons/cateico/c1099-210x210.jpg" alt="">
                            </span>
                        </div>
                        <a href="#" class="name-cat-main">
                            <h3>Các loại nồi</h3>
                        </a>
                    </div>
                </li>

                <li class="catalog-main-item">
                    <div>
                        <div class="discount-cat-main">
                            <span>-42%</span>
                        </div>
                        <div class="icon-cat-main-thumb">
                            <span>
                                <img src="https://meta.vn/icons/cateico/c1021-210x210.jpg" alt="">
                            </span>
                        </div>
                        <a href="#" class="name-cat-main">
                            <h3>Tủ mát</h3>
                        </a>
                    </div>
                </li>

                <li class="catalog-main-item">
                    <div>
                        <div class="discount-cat-main">
                            <span>-42%</span>
                        </div>
                        <div class="icon-cat-main-thumb">
                            <span>
                                <img src="https://meta.vn/icons/cateico/c3586-210x210.jpg" alt="">
                            </span>
                        </div>
                        <a href="#" class="name-cat-main">
                            <h3>Máy vệ sinh công nghiệp</h3>
                        </a>
                    </div>
                </li>

                <li class="catalog-main-item">
                    <div>
                        <div class="discount-cat-main">
                            <span>-42%</span>
                        </div>
                        <div class="icon-cat-main-thumb">
                            <span>
                                <img src="https://meta.vn/icons/cateico/c681-210x210.jpg" alt="">
                            </span>
                        </div>
                        <a href="#" class="name-cat-main">
                            <h3>Máy khoan</h3>
                        </a>
                    </div>
                </li>

                <li class="catalog-main-item">
                    <div>
                        <div class="discount-cat-main">
                            <span>-42%</span>
                        </div>
                        <div class="icon-cat-main-thumb">
                            <span>
                                <img src="https://meta.vn/icons/cateico/c443-210x210.jpg" alt="">
                            </span>
                        </div>
                        <a href="#" class="name-cat-main">
                            <h3>Máy xay đa năng</h3>
                        </a>
                    </div>
                </li>
            </ul>

            <div class="view-more-page">
                <a href="#">
                    Xem thêm chuyên mục
                    <i class="fa-solid fa-angle-down"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="box-catalog">
        <div class="box-cat-title">
            <img src="https://png.pngtree.com/png-clipart/20230408/original/pngtree-light-thunder-with-yellow-color-and-black-outline-png-image_9036888.png"
                alt="">
            <h2 class="title-box"><a href="#">FLASH SALE</a></h2>
        </div>
        <div class="list-product-highlight">
            <ul class="list-products owl-carousel owl-theme">

                <li class="product-highlight-item item">
                    <div class="prod-hl-thumb">
                        <img src="https://st.meta.vn/img/thumb.ashx/300x300x95/Data/image/2024/02/19/tu-lanh-4-canh-electrolux-eqe6909a-bvn-622-lit-a.jpg"
                            alt="">
                    </div>

                    <div class="prod-hl-discount">
                        <span> -40%</span>
                    </div>

                    <div class="prod-hl-name">
                        <a href="#">
                            <h3>Tủ lạnh 4 cánh Electrolux EQE6909A-BVN (622 lít)</h3>
                        </a>
                    </div>
                    <div class="prod-hl-brand">
                        <a href="#">Electrolux</a>
                    </div>
                    <div class="countdown-product">
                        <div class="cdown-pro-left">
                            <div class="fs-price">
                                <span class="fs-price-main">27.900.000đ</span><br>
                                <span class="old-price-fs"><del>32.990.000đ</del></span>
                            </div>
                        </div>
                        <div class="tragop-ox">
                            Trả góp
                        </div>
                        <div class="cdown-pro-right">
                            <div class="flashsale-box">
                                <div class="time-box-left"><span class="timeleft">Kết thúc sau</span>
                                </div>
                                <div class="time-flash running">
                                    <span class="ngay days">58</span> ngày
                                </div>
                            </div>
                            <div class="time-box-left">
                                <span class="seconds">Còn <span class="among-buy">40</span></span>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="product-highlight-item item">
                    <div class="prod-hl-thumb">
                        <img src="https://st.meta.vn/img/thumb.ashx/300x300x95/Data/image/2024/02/19/tu-lanh-4-canh-electrolux-eqe6909a-bvn-622-lit-a.jpg"
                            alt="">
                    </div>

                    <div class="prod-hl-discount">
                        <span> -40%</span>
                    </div>

                    <div class="prod-hl-name">
                        <a href="#">
                            <h3>Tủ lạnh 4 cánh Electrolux EQE6909A-BVN (622 lít)</h3>
                        </a>
                    </div>
                    <div class="prod-hl-brand">
                        <a href="#">Electrolux</a>
                    </div>
                    <div class="countdown-product">
                        <div class="cdown-pro-left">
                            <div class="fs-price">
                                <span class="fs-price-main">27.900.000đ</span><br>
                                <span class="old-price-fs"><del>32.990.000đ</del></span>
                            </div>
                        </div>
                        <div class="tragop-ox">
                            Trả góp
                        </div>
                        <div class="cdown-pro-right">
                            <div class="flashsale-box">
                                <div class="time-box-left"><span class="timeleft">Kết thúc sau</span>
                                </div>
                                <div class="time-flash running">
                                    <span class="ngay days">58</span> ngày
                                </div>
                            </div>
                            <div class="time-box-left">
                                <span class="seconds">Còn <span class="among-buy">40</span></span>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="product-highlight-item">
                    <div class="prod-hl-thumb">
                        <img src="https://st.meta.vn/img/thumb.ashx/300x300x95/Data/image/2021/02/23/tu-lanh-casper-nhieu-cua-645l-rm-680vbw-500.jpg"
                            alt="">
                    </div>

                    <div class="prod-hl-discount">
                        <span> -40%</span>
                    </div>

                    <div class="prod-hl-name">
                        <a href="#">
                            <h3>Tủ lạnh Casper inverter 4 cánh 645L RM-680VBW</h3>
                        </a>
                    </div>
                    <div class="prod-hl-brand">
                        <a href="#">Casper</a>
                    </div>
                    <div class="countdown-product">
                        <div class="cdown-pro-left">
                            <div class="fs-price">
                                <span class="fs-price-main">27.900.000đ</span><br>
                                <span class="old-price-fs"><del>32.990.000đ</del></span>
                            </div>
                        </div>
                        <div class="tragop-ox">
                            Trả góp
                        </div>
                        <div class="cdown-pro-right">
                            <div class="flashsale-box">
                                <div class="time-box-left"><span class="timeleft">Kết thúc sau</span>
                                </div>
                                <div class="time-flash running">
                                    <span class="ngay days">58</span> ngày
                                </div>
                            </div>
                            <div class="time-box-left">
                                <span class="seconds">Còn <span class="among-buy">40</span></span>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="product-highlight-item">
                    <div class="prod-hl-thumb">
                        <img src="https://st.meta.vn/img/thumb.ashx/300x300x95/Data/image/2022/01/08/may-say-bom-nhiet-samsung-inverter-9-kg-dv90t7240bb-sv.jpg"
                            alt="">
                    </div>

                    <div class="prod-hl-discount">
                        <span> -40%</span>
                    </div>

                    <div class="prod-hl-name">
                        <a href="#">
                            <h3>Máy sấy bơm nhiệt Samsung Inverter 9 Kg DV90T7240BB/SV</h3>
                        </a>
                    </div>
                    <div class="prod-hl-brand">
                        <a href="#">Samsung</a>
                    </div>
                    <div class="countdown-product">
                        <div class="cdown-pro-left">
                            <div class="fs-price">
                                <span class="fs-price-main">27.900.000đ</span><br>
                                <span class="old-price-fs"><del>32.990.000đ</del></span>
                            </div>
                        </div>
                        <div class="tragop-ox">
                            Trả góp
                        </div>
                        <div class="cdown-pro-right">
                            <div class="flashsale-box">
                                <div class="time-box-left"><span class="timeleft">Kết thúc sau</span>
                                </div>
                                <div class="time-flash running">
                                    <span class="ngay days">58</span> ngày
                                </div>
                            </div>
                            <div class="time-box-left">
                                <span class="seconds">Còn <span class="among-buy">40</span></span>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="product-highlight-item">
                    <div class="prod-hl-thumb">
                        <img src="https://st.meta.vn/img/thumb.ashx/300x300x95/Data/image/2023/02/24/may-lam-mat-khong-khi-sunhouse-shd7756.jpg"
                            alt="">
                    </div>

                    <div class="prod-hl-discount">
                        <span> -40%</span>
                    </div>

                    <div class="prod-hl-name">
                        <a href="#">
                            <h3>Máy làm mát không khí Sunhouse SHD7756 (45L)</h3>
                        </a>
                    </div>
                    <div class="prod-hl-brand">
                        <a href="#">Sunhouse</a>
                    </div>
                    <div class="countdown-product">
                        <div class="cdown-pro-left">
                            <div class="fs-price">
                                <span class="fs-price-main">27.900.000đ</span><br>
                                <span class="old-price-fs"><del>32.990.000đ</del></span>
                            </div>
                        </div>
                        <div class="tragop-ox">
                            Trả góp
                        </div>
                        <div class="cdown-pro-right">
                            <div class="flashsale-box">
                                <div class="time-box-left"><span class="timeleft">Kết thúc sau</span>
                                </div>
                                <div class="time-flash running">
                                    <span class="ngay days">58</span> ngày
                                </div>
                            </div>
                            <div class="time-box-left">
                                <span class="seconds">Còn <span class="among-buy">40</span></span>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="product-highlight-item">
                    <div class="prod-hl-thumb">
                        <img src="https://st.meta.vn/img/thumb.ashx/300x300x95/Data/image/2020/12/08/bo-3-noi-inox-4-day-nagakawa-nag1306-300.jpg"
                            alt="">
                    </div>

                    <div class="prod-hl-discount">
                        <span> -40%</span>
                    </div>

                    <div class="prod-hl-name">
                        <a href="#">
                            <h3>Bộ 3 nồi inox 4 đáy Nagakawa NAG1306 (16cm, 20cm, 24cm)</h3>
                        </a>
                    </div>
                    <div class="prod-hl-brand">
                        <a href="#">Electrolux</a>
                    </div>
                    <div class="countdown-product">
                        <div class="cdown-pro-left">
                            <div class="fs-price">
                                <span class="fs-price-main">27.900.000đ</span><br>
                                <span class="old-price-fs"><del>32.990.000đ</del></span>
                            </div>
                        </div>
                        <div class="tragop-ox">
                            Trả góp
                        </div>
                        <div class="cdown-pro-right">
                            <div class="flashsale-box">
                                <div class="time-box-left"><span class="timeleft">Kết thúc sau</span>
                                </div>
                                <div class="time-flash running">
                                    <span class="ngay days">58</span> ngày
                                </div>
                            </div>
                            <div class="time-box-left">
                                <span class="seconds">Còn <span class="among-buy">40</span></span>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>

    <div class="catalog-1013">
        <div class="box-cat-title-1013">
            <a href="#">
                <h2>Điện máy - Điện lạnh</h2>
            </a>
        </div>
        <div class="box-cat-body">
            <div class="banner-catalog-home">
                <a href="#">
                    <img src="https://st.meta.vn/img/thumb.ashx/Data/image/2022/03/22/Banner-tu-lanh-290x350.png"
                        alt="">
                </a>
            </div>
            <div class="box-cat-inner">
                <ul class="box-cat-list">
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--  -->
        <div class="cat-product-highlight">
            <div class="title-bar-hl">
                <div class="title-bar-left">Điện máy nổi bật</div>

                <div class="title-bar-right">
                    <a href="#">Xem tất cả sản phẩm</a>
                </div>
            </div>
            <div class="list-product-highlight">
                <ul class="product-highlight-wrap owl-carousel owl-theme">
                    <li class="product-highlight-item item">
                        <a href="http://localhost/du_an_mau/mvc-project/products">
                            <div class="prod-hl-thumb">
                                <img src="https://st.meta.vn/img/thumb.ashx/300x300x95/Data/image/2024/01/25/dieu-hoa-casper-tc-09is36-nho.jpg"
                                    alt="">
                            </div>

                            <div class="prod-hl-discount">
                                -40%
                            </div>

                        </a>
                        <div class="prod-hl-name"><a href="http://localhost/du_an_mau/mvc-project/products">
                            </a><a href="#">
                                <h3>Điều hòa Casper Inverter 1 chiều 1HP TC-09IS36 (New)</h3>
                            </a>
                        </div>
                        <div class="prod-hl-brand">
                            <a href="#">Casper</a>
                        </div>
                        <div class="box">
                            <div class="product-price list-product-price">
                                <span class="product-price-meta">5.250.000 đ</span> <br>
                                <span class="product-price-old "><del>6.900.000</del> đ</span>
                            </div>
                            <div class="product-rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                                <span>(16)</span>
                            </div>
                        </div>

                    </li>


                    <li class="product-highlight-item item">
                        <div class="prod-hl-thumb">
                            <img src="https://st.meta.vn/img/thumb.ashx/300x300x95/Data/image/2024/01/25/dieu-hoa-casper-tc-09is36-nho.jpg"
                                alt="">
                        </div>

                        <div class="prod-hl-discount">
                            -40%
                        </div>

                        <div class="prod-hl-name">
                            <a href="#">
                                <h3>Điều hòa Casper Inverter 1 chiều 1HP TC-09IS36 (New)</h3>
                            </a>
                        </div>
                        <div class="prod-hl-brand">
                            <a href="#">Casper</a>
                        </div>
                        <div class="box">
                            <div class="product-price list-product-price">
                                <span class="product-price-meta">5.250.000 đ</span> <br>
                                <span class="product-price-old "><del>6.900.000</del> đ</span>
                            </div>
                            <div class="product-rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                                <span>(16)</span>
                            </div>
                        </div>

                    </li>

                    <li class="product-highlight-item item">
                        <div class="prod-hl-thumb">
                            <img src="https://st.meta.vn/img/thumb.ashx/300x300x95/Data/image/2024/01/25/dieu-hoa-casper-tc-09is36-nho.jpg"
                                alt="">
                        </div>

                        <div class="prod-hl-discount">
                            -40%
                        </div>

                        <div class="prod-hl-name">
                            <a href="#">
                                <h3>Điều hòa Casper Inverter 1 chiều 1HP TC-09IS36 (New)</h3>
                            </a>
                        </div>
                        <div class="prod-hl-brand">
                            <a href="#">Casper</a>
                        </div>
                        <div class="box">
                            <div class="product-price list-product-price">
                                <span class="product-price-meta">5.250.000 đ</span> <br>
                                <span class="product-price-old "><del>6.900.000</del> đ</span>
                            </div>
                            <div class="product-rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                                <span>(16)</span>
                            </div>
                        </div>

                    </li>

                    <li class="product-highlight-item item">
                        <div class="prod-hl-thumb">
                            <img src="https://st.meta.vn/img/thumb.ashx/300x300x95/Data/image/2024/01/25/dieu-hoa-casper-tc-09is36-nho.jpg"
                                alt="">
                        </div>

                        <div class="prod-hl-discount">
                            -40%
                        </div>

                        <div class="prod-hl-name">
                            <a href="#">
                                <h3>Điều hòa Casper Inverter 1 chiều 1HP TC-09IS36 (New)</h3>
                            </a>
                        </div>
                        <div class="prod-hl-brand">
                            <a href="#">Casper</a>
                        </div>
                        <div class="box">
                            <div class="product-price list-product-price">
                                <span class="product-price-meta">5.250.000 đ</span> <br>
                                <span class="product-price-old "><del>6.900.000</del> đ</span>
                            </div>
                            <div class="product-rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                                <span>(16)</span>
                            </div>
                        </div>

                    </li>

                    <li class="product-highlight-item item">
                        <div class="prod-hl-thumb">
                            <img src="https://st.meta.vn/img/thumb.ashx/300x300x95/Data/image/2024/01/25/dieu-hoa-casper-tc-09is36-nho.jpg"
                                alt="">
                        </div>

                        <div class="prod-hl-discount">
                            -40%
                        </div>

                        <div class="prod-hl-name">
                            <a href="#">
                                <h3>Điều hòa Casper Inverter 1 chiều 1HP TC-09IS36 (New)</h3>
                            </a>
                        </div>
                        <div class="prod-hl-brand">
                            <a href="#">Casper</a>
                        </div>
                        <div class="box">
                            <div class="product-price list-product-price">
                                <span class="product-price-meta">5.250.000 đ</span> <br>
                                <span class="product-price-old "><del>6.900.000</del> đ</span>
                            </div>
                            <div class="product-rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                                <span>(16)</span>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- sản phẩm -->
    <div class="catalog-1013">
        <div class="box-cat-title-1013">
            <a href="#">
                <h2>Điện máy - Điện lạnh</h2>
            </a>
        </div>
        <div class="box-cat-body">
            <div class="banner-catalog-home">
                <a href="#">
                    <img src="https://st.meta.vn/img/thumb.ashx/Data/image/2022/03/22/Banner-tu-lanh-290x350.png"
                        alt="">
                </a>
            </div>
            <div class="box-cat-inner">
                <ul class="box-cat-list">
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                    <li class="box-cat-item">
                        <a href="#">
                            <div class="img-box">
                                <img src="https://meta.vn/icons/cateico/c706-0x0.jpg" alt="">
                            </div>
                            <div class="name-cat-thumb">Máy phát điện chạy xăng</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--  -->
        <div class="cat-product-highlight">
            <div class="title-bar-hl">
                <div class="title-bar-left">Điện máy nổi bật</div>

                <div class="title-bar-right">
                    <a href="#">Xem tất cả sản phẩm</a>
                </div>
            </div>
            <div class="list-product-highlight">
                <ul class="product-highlight-wrap owl-carousel owl-theme">
                    <li class="product-highlight-item item">
                        <a href="products.html">
                            <div class="prod-hl-thumb">
                                <img src="https://st.meta.vn/img/thumb.ashx/300x300x95/Data/image/2024/01/25/dieu-hoa-casper-tc-09is36-nho.jpg"
                                    alt="">
                            </div>

                            <div class="prod-hl-discount">
                                -40%
                            </div>

                        </a>
                        <div class="prod-hl-name"><a href="products.html">
                            </a><a href="#">
                                <h3>Điều hòa Casper Inverter 1 chiều 1HP TC-09IS36 (New)</h3>
                            </a>
                        </div>
                        <div class="prod-hl-brand">
                            <a href="#">Casper</a>
                        </div>
                        <div class="box">
                            <div class="product-price list-product-price">
                                <span class="product-price-meta">5.250.000 đ</span> <br>
                                <span class="product-price-old "><del>6.900.000</del> đ</span>
                            </div>
                            <div class="product-rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                                <span>(16)</span>
                            </div>
                        </div>

                    </li>


                    <li class="product-highlight-item item">
                        <div class="prod-hl-thumb">
                            <img src="https://st.meta.vn/img/thumb.ashx/300x300x95/Data/image/2024/01/25/dieu-hoa-casper-tc-09is36-nho.jpg"
                                alt="">
                        </div>

                        <div class="prod-hl-discount">
                            -40%
                        </div>

                        <div class="prod-hl-name">
                            <a href="#">
                                <h3>Điều hòa Casper Inverter 1 chiều 1HP TC-09IS36 (New)</h3>
                            </a>
                        </div>
                        <div class="prod-hl-brand">
                            <a href="#">Casper</a>
                        </div>
                        <div class="box">
                            <div class="product-price list-product-price">
                                <span class="product-price-meta">5.250.000 đ</span> <br>
                                <span class="product-price-old "><del>6.900.000</del> đ</span>
                            </div>
                            <div class="product-rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                                <span>(16)</span>
                            </div>
                        </div>

                    </li>

                    <li class="product-highlight-item item">
                        <div class="prod-hl-thumb">
                            <img src="https://st.meta.vn/img/thumb.ashx/300x300x95/Data/image/2024/01/25/dieu-hoa-casper-tc-09is36-nho.jpg"
                                alt="">
                        </div>

                        <div class="prod-hl-discount">
                            -40%
                        </div>

                        <div class="prod-hl-name">
                            <a href="#">
                                <h3>Điều hòa Casper Inverter 1 chiều 1HP TC-09IS36 (New)</h3>
                            </a>
                        </div>
                        <div class="prod-hl-brand">
                            <a href="#">Casper</a>
                        </div>
                        <div class="box">
                            <div class="product-price list-product-price">
                                <span class="product-price-meta">5.250.000 đ</span> <br>
                                <span class="product-price-old "><del>6.900.000</del> đ</span>
                            </div>
                            <div class="product-rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                                <span>(16)</span>
                            </div>
                        </div>

                    </li>

                    <li class="product-highlight-item item">
                        <div class="prod-hl-thumb">
                            <img src="https://st.meta.vn/img/thumb.ashx/300x300x95/Data/image/2024/01/25/dieu-hoa-casper-tc-09is36-nho.jpg"
                                alt="">
                        </div>

                        <div class="prod-hl-discount">
                            -40%
                        </div>

                        <div class="prod-hl-name">
                            <a href="#">
                                <h3>Điều hòa Casper Inverter 1 chiều 1HP TC-09IS36 (New)</h3>
                            </a>
                        </div>
                        <div class="prod-hl-brand">
                            <a href="#">Casper</a>
                        </div>
                        <div class="box">
                            <div class="product-price list-product-price">
                                <span class="product-price-meta">5.250.000 đ</span> <br>
                                <span class="product-price-old "><del>6.900.000</del> đ</span>
                            </div>
                            <div class="product-rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                                <span>(16)</span>
                            </div>
                        </div>

                    </li>

                    <li class="product-highlight-item item">
                        <div class="prod-hl-thumb">
                            <img src="https://st.meta.vn/img/thumb.ashx/300x300x95/Data/image/2024/01/25/dieu-hoa-casper-tc-09is36-nho.jpg"
                                alt="">
                        </div>

                        <div class="prod-hl-discount">
                            -40%
                        </div>

                        <div class="prod-hl-name">
                            <a href="#">
                                <h3>Điều hòa Casper Inverter 1 chiều 1HP TC-09IS36 (New)</h3>
                            </a>
                        </div>
                        <div class="prod-hl-brand">
                            <a href="#">Casper</a>
                        </div>
                        <div class="box">
                            <div class="product-price list-product-price">
                                <span class="product-price-meta">5.250.000 đ</span> <br>
                                <span class="product-price-old "><del>6.900.000</del> đ</span>
                            </div>
                            <div class="product-rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <span>(16)</span>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end -->

    <div class="box-catalog-brand">
        <div class="box-cat-title-1013">
            <a href="#">
                <h2>THƯƠNG HIỆU NỔI BẬT</h2>
            </a>
        </div>
        <div class="body-brand-highlight">
            <ul class="list-brand-highlight">
                <li class="brand-highlight-item">
                    <a href="#">
                        <img src="https://st.meta.vn/img/thumb.ashx/Data/image/2021/03/18/logo-bosch-nho.png"
                            alt="">
                    </a><br>
                    <a href="#">
                        <img src="	https://st.meta.vn/img/thumb.ashx/Data/image/2021/03/26/logo-casper-to.png"
                            alt="">
                    </a>
                </li>
                <li class="brand-highlight-item">
                    <a href="#">
                        <img src="	https://st.meta.vn/img/thumb.ashx/Data/image/2021/02/24/logo-samsung-to.png"
                            alt="">
                    </a><br>
                    <a href="#">
                        <img src="https://st.meta.vn/img/thumb.ashx/Data/image/2021/03/18/logo-sunhouse-nho.png"
                            alt="">
                    </a>
                </li>
                <li class="brand-highlight-item">
                    <a href="#">
                        <img src="	https://st.meta.vn/img/thumb.ashx/Data/image/2014/10/06/toshiba_n.jpg"
                            alt="">
                    </a><br>
                    <a href="#">
                        <img src="	https://st.meta.vn/img/thumb.ashx/Data/image/2021/03/26/logo-lg-to.png"
                            alt="">
                    </a>
                </li>
                <li class="brand-highlight-item">
                    <a href="#">
                        <img src="https://st.meta.vn/img/thumb.ashx/Data/image/2015/09/08/Sharp-Logo-500.png"
                            alt="">
                    </a><br>
                    <a href="#">
                        <img src="https://st.meta.vn/img/thumb.ashx/Data/image/2015/09/08/Makita-logo-35.png"
                            alt="">
                    </a>
                </li>
                <li class="brand-highlight-item">
                    <a href="#">
                        <img src="https://st.meta.vn/img/thumb.ashx/Data/image/2022/08/20/logo-nagakawa-nho.png"
                            alt="">
                    </a><br>
                    <a href="#">
                        <img src="https://st.meta.vn/img/thumb.ashx/Data/image/2015/09/04/Panasonic-Logo-500.png"
                            alt="">
                    </a>
                </li>
                <li class="brand-highlight-item">
                    <a href="#">
                        <img src="https://st.meta.vn/img/thumb.ashx/Data/image/2015/09/04/Tiross-Logo-35.png"
                            alt="">
                    </a><br>
                    <a href="#">
                        <img src="https://st.meta.vn/img/thumb.ashx/Data/image/2022/02/23/logo-vinawind-nho.png"
                            alt="">
                    </a>
                </li>
                <li class="brand-highlight-item">
                    <a href="#">
                        <img src="https://st.meta.vn/img/thumb.ashx/Data/image/2016/04/06/aqua-35.png"
                            alt="">
                    </a><br>
                    <a href="#">
                        <img src="https://st.meta.vn/img/thumb.ashx/Data/image/2021/03/26/logo-funiki-to.png"
                            alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="box-catalog-support">
        <div class="box-cat-title-sp">
            <a href="#" title="Hỗ trợ &amp; dịch vụ">
                <h2>HỖ TRỢ DỊCH VỤ</h2>
            </a>
        </div>
        <div class="body-cat-support">
            <ul class="list-cat-suppport">
                <li class="cat-support-item">
                    <a href="#">
                        <div class="thumb-cat-support">
                            <span>
                                <img src="https://meta.vn/images/chinh-sach-doi-tra.jpg"></span>
                        </div>
                        <div class="name-cat-support">Chính sách đổi trả</div>
                    </a>
                </li>
                <li class="cat-support-item">
                    <a href="#">
                        <div class="thumb-cat-support">
                            <span>
                                <img src="https://meta.vn/images/kinh-nghiem-mua-sam.jpg"></span>
                        </div>
                        <div class="name-cat-support">Tư vấn sử dụng</div>
                    </a>
                </li>
                <li class="cat-support-item">
                    <a href="#">
                        <div class="thumb-cat-support">
                            <span>
                                <img src="https://meta.vn/images/huong-dan-mua-hang.jpg"></span>
                        </div>
                        <div class="name-cat-support">Hướng dẫn mua</div>
                    </a>
                </li>
                <li class="cat-support-item">
                    <a href="#">
                        <div class="thumb-cat-support">
                            <span>
                                <img src="https://meta.vn/images/chinh-sach-bao-hanh.jpg"></span>
                        </div>
                        <div class="name-cat-support">Chính sách bảo hành</div>
                    </a>
                </li>
            </ul>
            <hr>

            <ul class="list-articles-new">
                <li class="articles-new-item">
                    <a href="#">
                        <div class="thumb-cat-support">
                            <img src="https://img.meta.com.vn/Data/image/2019/02/14/non-bao-hiem-tre-em-1-2-dau-asia-mt-128ks-3-size-80x50-znd.jpg"
                                alt="">
                        </div>
                        <span class="articles-name">5 Mẫu mũ bảo hiểm trẻ em có kính nhẹ và an
                            toàn</span>
                    </a>
                </li>
                <li class="articles-new-item">
                    <a href="#">
                        <div class="thumb-cat-support">
                            <img src="https://img.meta.com.vn/Data/image/2022/07/02/loi-e5-dieu-hoa-casper-630-size-80x50-znd.png"
                                alt="">
                        </div>
                        <span class="articles-name">Lỗi E5 điều hoà Casper: Nguyên nhân báo lỗi và cách
                            sửa</span>
                    </a>
                </li>
                <li class="articles-new-item">
                    <a href="#">
                        <div class="thumb-cat-support">
                            <img src="https://img.meta.com.vn/Data/image/2022/06/29/nhuoc-diem-cua-dieu-hoa-casper-630-size-80x50-znd.jpg"
                                alt="">
                        </div>
                        <span class="articles-name">Những nhược điểm của điều hòa Casper bạn cần xem
                            ngay
                            trước khi mua</span>
                    </a>
                </li>
                <li class="articles-new-item">
                    <a href="#">
                        <div class="thumb-cat-support">
                            <img src="https://img.meta.com.vn/Data/image/2021/03/11/ma-loi-dieu-hoa-casper-22-size-80x50-znd.jpg"
                                alt="">
                        </div>
                        <span class="articles-name">Cách check lỗi, bảng mã lỗi điều hòa Casper đầy đủ
                            nhất</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="slogan-body">
        <div class="row-slogan">
            <div class="sologan-item">
                <a href="#">
                    <div class="icon-slogan">
                        <img src="https://meta.vn/images/icons/dich-vu-uy-tin-icon.svg" alt="">
                    </div>
                    <div class="service-name">Dịch vụ uy tín</div>
                </a>
            </div>
            <div class="sologan-item">
                <a href="#">
                    <div class="icon-slogan">
                        <img src="https://meta.vn/images/icons/doi-tra-hang-icon.svg" alt="">
                    </div>
                    <div class="service-name">Đổi trả trong 7 ngày</div>
                </a>
            </div>
            <div class="sologan-item">
                <a href="#">
                    <div class="icon-slogan">
                        <img src="https://meta.vn/images/icons/giao-hang-toan-quoc-icon.svg" alt="">
                    </div>
                    <div class="service-name">Giao hàng toàn quốc</div>
                </a>
            </div>
        </div>
    </div>
</div>