<div class="menu-box">
    <div class="pure-menu">
        <ul class="prue-menu-list">
            <li class="prue-menu-item">
                <a class="item-x" href="http://localhost/du_an_mau/mvc-project/product-categories">
                    <div class="img-item">
                        <img src="https://meta.vn/icons/cats/1013.png" alt="">
                    </div>
                    <span>Điện máy</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <!-- item-con -->
                <ul class="prue-menu-list-chil">
                    <li class="prue-menu-item-chil">
                        <ul class="list-prd">
                            <a class="item-1" href="#">
                                <img src="https://icon-library.com/images/hot-icon-png/hot-icon-png-26.jpg"
                                    alt="">
                                <span>Điều hòa</span>
                            </a>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 1 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 2 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa cây</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa âm trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa áp trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa Multi</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Phụ kiện điều hòa</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="prue-menu-item">
                <a class="item-x" href="#">
                    <div class="img-item">
                        <img src="https://meta.vn/icons/cats/382.png" alt="">
                    </div>
                    <span>Đồ gia dụng</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <!-- item-con -->
                <ul class="prue-menu-list-chil">
                    <li class="prue-menu-item-chil">
                        <ul class="list-prd">
                            <a class="item-1" href="#">
                                <img src="https://icon-library.com/images/hot-icon-png/hot-icon-png-26.jpg"
                                    alt="">
                                <span>Điều hòa</span>
                            </a>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 1 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 2 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa cây</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa âm trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa áp trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa Multi</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Phụ kiện điều hòa</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="prue-menu-item">
                <a class="item-x" href="#">
                    <div class="img-item">
                        <img src="https://meta.vn/icons/cats/680.png" alt="">
                    </div>
                    <span>Công cụ & Dụng cụ</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <!-- item-con -->
                <ul class="prue-menu-list-chil">
                    <li class="prue-menu-item-chil">
                        <ul class="list-prd">
                            <a class="item-1" href="#">
                                <img src="https://icon-library.com/images/hot-icon-png/hot-icon-png-26.jpg"
                                    alt="">
                                <span>Điều hòa</span>
                            </a>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 1 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 2 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa cây</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa âm trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa áp trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa Multi</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Phụ kiện điều hòa</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="prue-menu-item">
                <a class="item-x" href="#">
                    <div class="img-item">
                        <img src="https://meta.vn/icons/cats/290.png" alt="">
                    </div>
                    <span>Y tế & Sức khỏe</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <!-- item-con -->
                <ul class="prue-menu-list-chil">
                    <li class="prue-menu-item-chil">
                        <ul class="list-prd">
                            <a class="item-1" href="#">
                                <img src="https://icon-library.com/images/hot-icon-png/hot-icon-png-26.jpg"
                                    alt="">
                                <span>Điều hòa</span>
                            </a>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 1 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 2 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa cây</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa âm trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa áp trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa Multi</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Phụ kiện điều hòa</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="prue-menu-item">
                <a class="item-x" href="#">
                    <div class="img-item">
                        <img src="https://meta.vn/icons/cats/514.png" alt="">
                    </div>
                    <span>Thiết bị văn phòng</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <!-- item-con -->
                <ul class="prue-menu-list-chil">
                    <li class="prue-menu-item-chil">
                        <ul class="list-prd">
                            <a class="item-1" href="#">
                                <img src="https://icon-library.com/images/hot-icon-png/hot-icon-png-26.jpg"
                                    alt="">
                                <span>Điều hòa</span>
                            </a>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 1 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 2 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa cây</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa âm trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa áp trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa Multi</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Phụ kiện điều hòa</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="prue-menu-item">
                <a class="item-x" href="#">
                    <div class="img-item">
                        <img src="https://meta.vn/icons/cats/880.png" alt="">
                    </div>
                    <span>Thiết bị số, Phụ kiện</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <!-- item-con -->
                <ul class="prue-menu-list-chil">
                    <li class="prue-menu-item-chil">
                        <ul class="list-prd">
                            <a class="item-1" href="#">
                                <img src="https://icon-library.com/images/hot-icon-png/hot-icon-png-26.jpg"
                                    alt="">
                                <span>Điều hòa</span>
                            </a>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 1 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 2 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa cây</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa âm trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa áp trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa Multi</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Phụ kiện điều hòa</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="prue-menu-item">
                <a class="item-x" href="#">
                    <div class="img-item">
                        <img src="https://meta.vn/icons/cats/3584.png" alt="">
                    </div>
                    <span>Thiết bị công nghiệp</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <!-- item-con -->
                <ul class="prue-menu-list-chil">
                    <li class="prue-menu-item-chil">
                        <ul class="list-prd">
                            <a class="item-1" href="#">
                                <img src="https://icon-library.com/images/hot-icon-png/hot-icon-png-26.jpg"
                                    alt="">
                                <span>Điều hòa</span>
                            </a>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 1 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 2 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa cây</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa âm trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa áp trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa Multi</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Phụ kiện điều hòa</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="prue-menu-item">
                <a class="item-x" href="#">
                    <div class="img-item">
                        <img src="https://meta.vn/icons/cats/263.png" alt="">
                    </div>
                    <span>Thể thao & Ngoài trời</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <!-- item-con -->
                <ul class="prue-menu-list-chil">
                    <li class="prue-menu-item-chil">
                        <ul class="list-prd">
                            <a class="item-1" href="#">
                                <img src="https://icon-library.com/images/hot-icon-png/hot-icon-png-26.jpg"
                                    alt="">
                                <span>Điều hòa</span>
                            </a>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 1 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 2 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa cây</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa âm trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa áp trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa Multi</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Phụ kiện điều hòa</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="prue-menu-item">
                <a class="item-x" href="#">
                    <div class="img-item">
                        <img src="https://meta.vn/icons/cats/728.png" alt="">
                    </div>
                    <span>Nhà cửa & Đời sống</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <!-- item-con -->
                <ul class="prue-menu-list-chil">
                    <li class="prue-menu-item-chil">
                        <ul class="list-prd">
                            <a class="item-1" href="#">
                                <img src="https://icon-library.com/images/hot-icon-png/hot-icon-png-26.jpg"
                                    alt="">
                                <span>Điều hòa</span>
                            </a>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 1 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 2 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa cây</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa âm trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa áp trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa Multi</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Phụ kiện điều hòa</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="prue-menu-item">
                <a class="item-x" href="#">
                    <div class="img-item">
                        <img src="https://meta.vn/icons/cats/906.png" alt="">
                    </div>
                    <span>Mỹ phẩm & Làm đẹp</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <!-- item-con -->
                <ul class="prue-menu-list-chil">
                    <li class="prue-menu-item-chil">
                        <ul class="list-prd">
                            <a class="item-1" href="#">
                                <img src="https://icon-library.com/images/hot-icon-png/hot-icon-png-26.jpg"
                                    alt="">
                                <span>Điều hòa</span>
                            </a>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 1 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 2 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa cây</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa âm trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa áp trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa Multi</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Phụ kiện điều hòa</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="prue-menu-item">
                <a class="item-x" href="#">
                    <div class="img-item">
                        <img src="https://meta.vn/icons/cats/229.png" alt="">
                    </div>
                    <span>Mẹ và Bé</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <!-- item-con -->
                <ul class="prue-menu-list-chil">
                    <li class="prue-menu-item-chil">
                        <ul class="list-prd">
                            <a class="item-1" href="#">
                                <img src="https://icon-library.com/images/hot-icon-png/hot-icon-png-26.jpg"
                                    alt="">
                                <span>Điều hòa</span>
                            </a>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 1 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 2 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa cây</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa âm trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa áp trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa Multi</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Phụ kiện điều hòa</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="prue-menu-item">
                <a class="item-x" href="#">
                    <div class="img-item">
                        <img src="https://meta.vn/icons/cats/3434.png" alt="">
                    </div>
                    <span>Phụ kiện ô tô, xe hơi</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <!-- item-con -->
                <ul class="prue-menu-list-chil">
                    <li class="prue-menu-item-chil">
                        <ul class="list-prd">
                            <a class="item-1" href="#">
                                <img src="https://icon-library.com/images/hot-icon-png/hot-icon-png-26.jpg"
                                    alt="">
                                <span>Điều hòa</span>
                            </a>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 1 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 2 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa cây</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa âm trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa áp trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa Multi</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Phụ kiện điều hòa</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="prue-menu-item">
                <a class="item-x" href="#">
                    <div class="img-item">
                        <img src="https://meta.vn/icons/cats/3320.png" alt="">
                    </div>
                    <span>Thời trang & Du lịch</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <!-- item-con -->
                <ul class="prue-menu-list-chil">
                    <li class="prue-menu-item-chil">
                        <ul class="list-prd">
                            <a class="item-1" href="#">
                                <img src="https://icon-library.com/images/hot-icon-png/hot-icon-png-26.jpg"
                                    alt="">
                                <span>Điều hòa</span>
                            </a>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 1 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 2 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa cây</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa âm trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa áp trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa Multi</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Phụ kiện điều hòa</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="prue-menu-item">
                <a class="item-x" href="#">
                    <div class="img-item">
                        <img src="https://meta.vn/icons/cats/1238.png" alt="">
                    </div>
                    <span>Bách hóa tổng hợp</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <!-- item-con -->
                <ul class="prue-menu-list-chil">
                    <li class="prue-menu-item-chil">
                        <ul class="list-prd">
                            <a class="item-1" href="#">
                                <img src="https://icon-library.com/images/hot-icon-png/hot-icon-png-26.jpg"
                                    alt="">
                                <span>Điều hòa</span>
                            </a>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 1 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa 2 chiều</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa cây</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa âm trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa áp trần</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Điều hòa Multi</span>
                                </a>
                            </li>
                            <li class="item-prd">
                                <a href="#">
                                    <i class="fa-solid fa-circle"></i>
                                    <span>Phụ kiện điều hòa</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <li class="prue-menu-item">
                <a class="item-x" href="#">
                    <span>Xem tất cả danh mục</span>
                </a>
            </li>
        </ul>
    </div>
</div>